body {
    background-color: #f8f8f8; /* Цвет фона */
   }

.main_headers {
    font-size: 24px;
    color: darkgreen;
}

.logo{
    float: left;
    padding-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.main_menu {
    list-style-type: none; /* Убираем маркеры */
    float: right;
}

.main_menu li a:hover {
    color: red;
}

.main_menu li a:active {
    color: green;
}

.main_menu li {
    float: left;
    width: 200px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    padding-top: 10px;
}

.main_menu li:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.main_menu li:last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.main_menu a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    color: red;
}

.link:active{
    color: green;
}

.catalog {
    list-style-type: none;
    padding-left: 4px;
}
.catalog li{
    margin-top: 15px;
    display: inline-block;
    margin-right: 20px;
}

.catalog li a{
    text-decoration: none;
    color: black;
    text-align: center;
}

.unit_headers {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.unit_headers1 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}


.buy {
    background-color: #eaeeea; /* Green */
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
}

.buy:hover {
    background-color: #91d895; /* Green */
    color: red;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
}

.buy:active {
    background-color: #f3f5f3; /* Green */
    color: green;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
}
/* .unit_desc_ol {
    list-style-type: none;
    padding-left: 6px;
}

.unit_desc_ol li h4 {
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
} */
.short_desc {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.big_desc {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

/* .unit_desc_ol li ul {
    list-style-image: url(../img/list_icon.png);
    font-size: 14px;
} */

#user {
    width: 150px;
    margin-left: 60px;
    font-size: 14px;
    font-style: italic;
    color: grey;
}

#number {
    width: 150px;
    margin-left: 16px;
    font-size: 14px;
    font-style: italic;
    color: grey;
}

#mail {
    width: 150px;
    margin-left: 84px;
    font-size: 14px;
    font-style: italic;
    color: grey;
}

#user:focus, #number:focus, #mail:focus{
    background-color: navajowhite;
    color: darkgreen;
}

input{
    text-transform: capitalize;
}

textarea::first-letter{
    text-transform: capitalize;
}

#sel_vid {
    width: 158px;
    height: 20px;
    margin-left: 21px;
}

#desc_area {
    font-size: 14px;
    color: darkgreen;
    font-style: italic;
}

.img_back {
    outline: 3px solid blue;
    float: left;
    margin-right: 10px;
}

.img_back:hover{
    outline: none;
}

.test_float {
    padding-block-end: 100px;
}

.header {
    border-bottom: 2px solid black;
    padding-bottom: 50px;
    height: 30px;
}

.footer {
    border-top: 2px solid black;
    margin-top: 10px;
    height: 30px;
    background-color: rgb(152, 216, 195);
    text-align: right;
    padding-right: 15px;
    padding-top: 10px;

}

.unit_description td{
    border: 1px solid black;
}

.unit_description td:nth-child(2n-1){
    text-align: center;
}

.unit_description{
    border-collapse: collapse;
    width: 1000px;
}

.unit_description td ul {
    list-style-image: url(../img/list_icon.png);
    font-size: 14px;
}

.catalog a img{
    outline: 2px solid blue;
}

/* .catalog a img:hover{
    outline: none;
} */

.catalog a img:hover, .catalog a:hover{
    color: red;
    outline: none;
}

.catalog a:active{
    color: green;
}

.content_unit p::first-letter{
    font-size: 30px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* .dz {
    border: 1px solid black;
    width: 500px;
    height: 500px;
    border-collapse: collapse;
}

.dz td{
    border: 1px solid black;
}

.dz tr:first-child{
    height: 30px;
} */

.content {
    align-content: center;
}