* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.conteiner {
    max-width: 1366px;
    min-width: 1300px;
    margin: 0 auto;
    min-height: 100%;
}

.header {
    padding-top: 63px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.slider {
    height: 800px;
    background-image: url(img/slider-img.png);
    position: relative;
}

.menu {
    list-style-type: none;
    float: right;
}

.menu-list {
    list-style-type: none;
    float: left;
}

.menu-link {
    font-size: 14px;
    font-weight: 300;
    color: #8c8c8c;
    text-decoration: none;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 1.4px;
    padding: 10px 13px;
}

.menu-link:hover {
    color: #212121
}

.menu-link-active {
    font-weight: 700;
    color: #212121;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
    text-decoration: none;
}

.slider-text {
    margin-top: 283px
}

.slider-trending {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.8px;
  color: #43a047;
}

.slider-h2 {
  font-family: Montserrat;
  font-size: 62px;
  font-weight: 100;
  color: #212121;
}

.slider-content {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  color: #6c6c6c;
    width: 458px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button {
  font-size: 18px;
  font-weight: 700;
  color: #212121;
    text-transform: uppercase;
  border-radius: 23px;
  box-shadow: 0px 2px 5px 1px rgba(33, 33, 33, 0.35);
  background-color: #ffffff;
    width: 212px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3.6px;
}

.button:hover {
    color:green;
    background-color: gray;
}

.arrow{
    padding-left: 22px;
    vertical-align: middle;
}

.circle {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #cccccc;
    border-radius: 50%;
    margin: 5px;
}

.circle:hover {
    background-color: #212121;
}

.circle-active {
    height: 40px;
    width: 40px;
    background-color: #212121;
    margin-bottom: 0px;
}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

.pagination {
    position: absolute;
    width: 1170px;
    bottom: 19px;
    text-align: center;
}

.feature {
    padding-top: 120px;
}

.feature-menu {
    list-style-type: none;
}

.feature-menu-list {
    float: left;
}

.feature-menu-link{
  font-family: Montserrat;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #6c6c6c;
        border-bottom: 2px solid #212121;
    text-decoration: none;
    padding: 0px 13px;
}

.feature-menu-link-active {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #212121;
    border-bottom: 3px solid #212121;
    text-decoration: none;
}

.feature-explore {
    float: right;
    padding-top: 18px;
}

.feature-explore-link:hover {
    color: green;
}

.feature-explore-link {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: center;
  color: #212121;
    text-decoration: none;
    text-transform: uppercase;
}

.future-img {
    list-style-type: none;
    padding-top: 50px;
    padding-left: 98px;
    padding-right: 60px
}

.future-img-list {
    float: left;
    margin-right: 30px;
}

.future-img-list:hover {
    filter: alpha (Opacity=25);
    opacity: 0.25;
}

.app-buttons-list:hover {
    filter: alpha (Opacity=25);
    opacity: 0.25;
}

.promo-list {
    list-style-type: none;
}

.promo-list li {
    float: left;
}

.promo1 {
    background-image: url(img/promo-img-1.png);
    width: 683px;
    height: 683px;
}

.promo2 {
    background-image: url(img/promo-img.png);
    width: 683px;
    height: 683px;
}

.promo {
    margin-top: 120px;
    width: 1366px;
    height: 683px;    
}

.promo-list {
    float: left;

}

.promo-text {
    padding-top: 228px;
    padding-left: 58px;
}

.promo-trending {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  line-height: 48px;
  letter-spacing: 1.8px;
  text-align: left;
  color: #1e88e5;
    text-transform: uppercase;
}
    
.promo-h2 {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  color: #212121;
}

.promo-content {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  color: #6c6c6c;
    width: 374px;
    margin-bottom: 34px;
}

.products{
    margin-top: 119px;
    width: 1366px;
}

.product-menu {
    list-style: none;
}

.trend-menu {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  color: #212121;
}

.trend-explore {
    float: right;
    margin-top: -30px;
}

.trend-explore-link {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: center;
  color: #212121;
    text-decoration: none;
    text-transform: uppercase;
}

.trend-explore-link:hover {
    color: green;
}

.products-list {
    list-style-type: none;   
    margin-left: 83px;
    margin-top: 49px;
    height: 800px;
}

.product-list {
    float: left;
    padding: 15px 15px;
}

.hot-deal {
    margin-top: 105px;
    height: 800px;
    background-image: url(img/slider.png);
    position: relative;
}

.deal-text {
    padding-top: 287px;
}

.deal-deal {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  line-height: 48px;
  letter-spacing: 1.8px;
  text-align: left;
  color: #e53935;
    text-transform: uppercase;
}

.slider-h2 {
  font-family: Montserrat;
  font-size: 62px;
  font-weight: 100;
  color: #212121;
}

.slider-content {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  color: #6c6c6c;
    width: 458px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-lg {
    background-image: url(img/product-1-lg.png);
    width: 570px;
    height: 570px;
    margin-top: 120px;
    margin-left: 98px;
    float: left;
}

.product-lg-exclusive {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  line-height: 48px;
  letter-spacing: 1.8px;
  text-align: left;
  color: #1e88e5;
    text-transform: uppercase;
}

.product-lg-text {
    padding-left: 34px;
    padding-top: 186px;
}

.products-sm-it {
    margin-top: 120px;
    list-style-type: none;
    height: 600px;
}

.products-sm {
    height: 600px;
}

.products-sm-list {
    float: left;
    padding-left: 30px;
    padding-bottom: 30px;
    height: 270px;
    width: 270px;
}

.mobile-app {
    background-image: url(img/back-img.png);
    height: 516px;
    margin-top: 90px;
}

.mobile-app-text {
    padding-top: 125px;
    padding-left: 99px;
}

.mobile-app-mobile-app{
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  line-height: 48px;
  letter-spacing: 1.8px;
  text-align: left;
  color: #6c6c6c;
    text-transform: uppercase;
}

.mobile-app-h2{
  width: 407px;
  font-family: Montserrat;
  font-size: 62px;
  font-weight: 100;
  line-height: 72px;
  text-align: left;
  color: #212121;
}

.mobile-app-content {
  font-size: 22px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  color: #6c6c6c;
}

.app-buttons {
    padding-top: 33px;
    padding-left: -1px;
    list-style-type: none;
}

.app-buttons-list {
    display: inline;
    padding-right: 10px;
}

.footer {
    background-color: #f7f7f7;
    height: 384px;
    margin: 0 auto 0;
    min-width: 1300px;
    max-width: 1366px;
}

.contact {
    padding-left: 99px;
    padding-top: 120px;
    float: left;
}

.contact-head {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 1.8px;
  text-align: left;
  color: #6c6c6c;
  text-transform: uppercase;
  padding-bottom: 24px;
}

.contact-content {
    width: 225px;
    height: 102px;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
  color: #212121;
  padding-left: -1px;
}

.usefull {
    padding-left: 81px;
    padding-top: 120px;
    float: left;
}

.usefull-text {
    float: left;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  letter-spacing: 0.7px;
  text-align: left;
  color: #212121;
    padding-right: 103px;
}

.usefull_link {
    text-decoration: none;
    color: black;
}

.usefull_link:hover {
    text-decoration: none;
    color: grey;
}

.touch {
    padding-top: 120px;
    padding-left: -24px;
}

.subsc {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
  color: #212121;
}

#email {
    margin-top: 26px;
      width: 370px;
  height: 48px;
  border: solid 1px #d9dee1;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
  color: #6c6c6c;
    padding-left: 19px;
    background-image: url(img/send.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: right;
    padding-right: 14px;
    background-origin: content-box;
}

.copy {
  font-size: 12px;
  font-weight: bold;
  line-height: 26px;
  letter-spacing: 0.6px;
  text-align: left;
  color: #6c6c6c;
  padding-top: 69px;
    padding-left: 98px;
}

.terms {
    float: right;
  font-size: 12px;
  font-weight: bold;
  line-height: 26px;
  letter-spacing: 0.6px;
  text-align: left;
  color: #6c6c6c;
    padding-right: 98px;
}

.products-sm-list:hover {
    filter: alpha (Opacity=25);
    opacity: 0.25;
}

.product-list:hover {
    filter: alpha (Opacity=25);
    opacity: 0.25;
}